<div class="$ctrl.group.classes" layout="$ctrl.group.layout" layout-align="$ctrl.group.layoutAlign" ng-repeat="(sectionID, section) in $ctrl.group.sections">
	<gui-group ng-if="section.type === 'guiGroup'" group="$ctrl.group.sections[sectionID]"></gui-group>
	<menu ng-if="section.type == 'menu'" menu="$ctrl.group.sections[sectionID]"></menu>
	<text-button ng-if="section.type === 'textBtn'" button="$ctrl.group.sections[sectionID]"></text-button>
	<icon-button ng-if="section.type === 'iconBtn'" button="$ctrl.group.sections[sectionID]"></icon-button>
	<number-input ng-if="section.type === 'numInput'" input="$ctrl.group.sections[sectionID]"></number-input>
	<slide-measure ng-if="section.type === 'slideMeasure'" slider="$ctrl.group.sections[sectionID]"></slide-measure>
	<range-measure ng-if="section.type === 'rangeMeasure'" range="$ctrl.group.sections[sectionID]"></range-measure>
	<select-display ng-if="section.type === 'select'" select="$ctrl.group.sections[sectionID]"></select-display>
	<accordion-tab ng-if="section.type === 'accordTab'" accordion="$ctrl.group.sections[sectionID]"></accordion>
</div>